<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentVenueCenter</title>
    <link rel="stylesheet" href="/css/post.css">
</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__body">
                <div class="header__preview">
                    <div class="header__logo"><svg width="250" height="39"
                            viewBox="0 0 250 39" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M45.7 27V12.8H51.78C52.4067 12.8 52.98 12.9333 53.5 13.2 54.02 13.4533 54.4733 13.8 54.86 14.24 55.2467 14.6667 55.5467 15.1533 55.76 15.7 55.9733 16.2333 56.08 16.78 56.08 17.34 56.08 17.9933 55.9533 18.6133 55.7 19.2 55.46 19.7867 55.1133 20.2867 54.66 20.7 54.22 21.1133 53.7 21.4 53.1 21.56L56.54 27H54.5L51.26 21.9H47.5V27H45.7ZM47.5 20.3H51.8C52.2933 20.3 52.72 20.1667 53.08 19.9 53.4533 19.62 53.74 19.2533 53.94 18.8 54.1533 18.3467 54.26 17.86 54.26 17.34 54.26 16.8067 54.14 16.32 53.9 15.88 53.66 15.4267 53.3467 15.0667 52.96 14.8 52.5733 14.5333 52.1467 14.4 51.68 14.4H47.5V20.3ZM68.4845 25.4V27H58.8445V12.8H68.3045V14.4H60.6445V19H67.3045V20.5H60.6445V25.4H68.4845ZM72.7539 16.12V27H70.9539V12.8H72.4739L81.1539 23.9V12.82H82.9539V27H81.3139L72.7539 16.12ZM96.5845 14.4H91.6845V27H89.8845V14.4H84.9845V12.8H96.5845V14.4ZM99.0297 12.8 103.73 24.74 108.41 12.8H110.31L104.55 27H102.91L97.1297 12.8H99.0297ZM121.863 25.4V27H112.223V12.8H121.683V14.4H114.023V19H120.683V20.5H114.023V25.4H121.863ZM126.133 16.12V27H124.333V12.8H125.853L134.533 23.9V12.82H136.333V27H134.693L126.133 16.12ZM145.583 27.1C144.45 27.1 143.497 26.9067 142.723 26.52 141.95 26.12 141.33 25.5867 140.863 24.92 140.397 24.24 140.057 23.4733 139.843 22.62 139.63 21.7667 139.523 20.8867 139.523 19.98V12.8H141.323V19.98C141.323 20.6733 141.39 21.3533 141.523 22.02 141.67 22.6733 141.903 23.26 142.223 23.78 142.543 24.3 142.977 24.7133 143.523 25.02 144.07 25.3267 144.75 25.48 145.563 25.48 146.39 25.48 147.077 25.3267 147.623 25.02 148.17 24.7 148.603 24.28 148.923 23.76 149.243 23.2267 149.47 22.6333 149.603 21.98 149.75 21.3267 149.823 20.66 149.823 19.98V12.8H151.623V19.98C151.623 20.94 151.51 21.8533 151.283 22.72 151.07 23.5733 150.723 24.3267 150.243 24.98 149.763 25.6333 149.137 26.1533 148.363 26.54 147.603 26.9133 146.677 27.1 145.583 27.1ZM164.461 25.4V27H154.821V12.8H164.281V14.4H156.621V19H163.281V20.5H156.621V25.4H164.461ZM165.737 19.8C165.737 18.9333 165.884 18.0867 166.177 17.26 166.484 16.42 166.924 15.66 167.497 14.98 168.084 14.2867 168.797 13.74 169.637 13.34 170.477 12.9267 171.43 12.72 172.497 12.72 173.764 12.72 174.85 13.0133 175.757 13.6 176.664 14.1733 177.337 14.9133 177.777 15.82L176.357 16.74C176.077 16.14 175.717 15.6667 175.277 15.32 174.85 14.96 174.384 14.7067 173.877 14.56 173.384 14.4133 172.897 14.34 172.417 14.34 171.63 14.34 170.93 14.5 170.317 14.82 169.717 15.14 169.21 15.5667 168.797 16.1 168.384 16.6333 168.07 17.2333 167.857 17.9 167.657 18.5533 167.557 19.2133 167.557 19.88 167.557 20.6133 167.677 21.32 167.917 22 168.17 22.68 168.517 23.28 168.957 23.8 169.397 24.32 169.917 24.7333 170.517 25.04 171.117 25.3467 171.77 25.5 172.477 25.5 172.97 25.5 173.477 25.4133 173.997 25.24 174.517 25.0667 175.004 24.8 175.457 24.44 175.91 24.0667 176.27 23.5867 176.537 23L178.037 23.82C177.744 24.5267 177.29 25.1267 176.677 25.62 176.064 26.1133 175.377 26.4867 174.617 26.74 173.87 26.9933 173.13 27.12 172.397 27.12 171.424 27.12 170.53 26.9133 169.717 26.5 168.904 26.0733 168.197 25.5133 167.597 24.82 167.01 24.1133 166.55 23.3267 166.217 22.46 165.897 21.58 165.737 20.6933 165.737 19.8ZM189.93 25.4V27H180.29V12.8H189.75V14.4H182.09V19H188.75V20.5H182.09V25.4H189.93ZM194.199 16.12V27H192.399V12.8H193.919L202.599 23.9V12.82H204.399V27H202.759L194.199 16.12ZM218.03 14.4H213.13V27H211.33V14.4H206.43V12.8H218.03V14.4ZM229.715 25.4V27H220.075V12.8H229.535V14.4H221.875V19H228.535V20.5H221.875V25.4H229.715ZM232.184 27V12.8H238.264C238.891 12.8 239.464 12.9333 239.984 13.2 240.504 13.4533 240.958 13.8 241.344 14.24 241.731 14.6667 242.031 15.1533 242.244 15.7 242.458 16.2333 242.564 16.78 242.564 17.34 242.564 17.9933 242.438 18.6133 242.184 19.2 241.944 19.7867 241.598 20.2867 241.144 20.7 240.704 21.1133 240.184 21.4 239.584 21.56L243.024 27H240.984L237.744 21.9H233.984V27H232.184ZM233.984 20.3H238.284C238.778 20.3 239.204 20.1667 239.564 19.9 239.938 19.62 240.224 19.2533 240.424 18.8 240.638 18.3467 240.744 17.86 240.744 17.34 240.744 16.8067 240.624 16.32 240.384 15.88 240.144 15.4267 239.831 15.0667 239.444 14.8 239.058 14.5333 238.631 14.4 238.164 14.4H233.984V20.3Z"
                                fill="#1A1A1A" />
                            <path
                                d="M19.5 39C30.2696 39 39 30.2696 39 19.5 39 8.73045 30.2696 0 19.5 0 8.73045 0 0 8.73045 0 19.5 0 30.2696 8.73045 39 19.5 39Z"
                                fill="#1C8ADB" />
                            <mask id="mask0_3265_2" style="mask-type:luminance"
                                maskUnits="userSpaceOnUse" x="0" y="0"
                                width="39" height="39">
                                <g opacity="0.42">
                                    <path
                                        d="M19.4999 38.9998C30.2694 38.9998 38.9998 30.2694 38.9998 19.4999 38.9998 8.73039 30.2694 0 19.4999 0 8.73039 0 0 8.73039 0 19.4999 0 30.2694 8.73039 38.9998 19.4999 38.9998Z"
                                        fill="white" />
                                </g>
                            </mask>
                            <g mask="url(#mask0_3265_2)">
                                <path opacity="0.42"
                                    d="M19.4995 9.34424 13.4453 14.8242C8.86455 18.8612 4.8488 22.8099 1.00391 26.7415 3.72024 33.9326 8.97351 38.5575 18.3803 38.9806L27.6125 29.7484V20.9486L29.9102 18.7659 25.5545 14.8241 19.4995 9.34424Z"
                                    fill="url(#paint0_linear_3265_2)" />
                            </g>
                            <mask id="mask1_3265_2" style="mask-type:luminance"
                                maskUnits="userSpaceOnUse" x="0" y="0"
                                width="39" height="39">
                                <path
                                    d="M19.4999 38.9998C30.2694 38.9998 38.9998 30.2694 38.9998 19.4999 38.9998 8.73039 30.2694 0 19.4999 0 8.73039 0 0 8.73039 0 19.4999 0 30.2694 8.73039 38.9998 19.4999 38.9998Z"
                                    fill="white" />
                            </mask>
                            <g mask="url(#mask1_3265_2)">
                                <path
                                    d="M19.5 9.34424 13.4458 14.8242 9.08887 18.766H10.5551L14.5448 15.156 19.4998 10.6692 24.4561 15.156 28.4459 18.766H29.9108L25.5552 14.8242 19.5 9.34424ZM19.5 11.4236 15.4447 15.0954 11.388 18.7659V29.7483H16.7788V21.2302H22.2227V29.7483H27.6134V18.7659L23.5568 15.0954 19.5 11.4236ZM17.8446 22.3167V29.7486H21.1555V22.3167H17.8446Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_3265_2"
                                    x1="19.6268" y1="20.2208" x2="2.85932"
                                    y2="38.5668" gradientUnits="userSpaceOnUse">
                                    <stop />
                                    <stop offset="1" stop-opacity="0" />
                                </linearGradient>
                            </defs>
                        </svg></div>
                    <div class="header__subtitle post-subtitle">Аренда офисных
                        помещений в Гомеле</div>
                </div>
            </div>
            <div class="header__contacts">
                <div class="header__phone post-title"><a
                        href="tel:+1234567890">8 (800) 500-56-55</a></div>
                <div class="header__social social"> <a href="#"
                        class="header__tg"><img loading="lazy" loading="lazy"
                            src="/img/main/telegram.svg" alt="tg" /></a> <a
                        href="#" class="header__wa"><img loading="lazy"
                            loading="lazy" src="/img/main/whatsapp.svg"
                            alt="whatsapp" /></a>
                    <a href="#" class="header__vb"><img loading="lazy"
                            loading="lazy" src="/img/main/viber.svg"
                            alt="whatsapp" /></a>
                </div>
            </div>
        </div>
    </header>
    <section class="post">
        <div class="post__container">
            <div class="post__route post-subtitle"> <a href="/"
                    class="post__main-link">Главная</a> / <span>
                    <%= post.title %>
                </span>
            </div>
            <div class="post__body">
                <h3 class="post__title post-title">
                    <%= post.title %>
                </h3>
                <div class="post__graphics-container">
                    <div class="post__slider">
                        <div class="swiper post__swiper" id="post__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="post__slider-img"><img
                                            loading="lazy" loading="lazy"
                                            src="../<%= post.mainImg %>"
                                            alt="аренда post.title главное изображение" />
                                    </div>
                                </div>
                                <% post.images.forEach((image, index) => { %>
                                <div class="swiper-slide">
                                    <div class="post__slider-img">
                                        <img loading="lazy" loading="lazy"
                                            src="../<%= image %>"
                                            alt="аренда<%= post.title %><%= post.entertainments[index] || '' %>" />
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <div class="post__pagination"></div>
                    </div>
                    <div class="post__gallery gallery galleryCmp">
                        <ul class="gallery__list">
                            <li
                                class="gallery__item galleryCmp__item gallery__item--main">
                                <picture>
                                    <img loading="lazy" loading="lazy"
                                        src="../<%= post.mainImg %>"
                                        alt="аренда post.title главное изображение в галерее">
                                </picture>
                            </li>
                            <% post.images.forEach((image, index) => { %>
                            <li class="gallery__item galleryCmp__item">
                                <picture>
                                    <img loading="lazy" loading="lazy"
                                        src="../<%= image %>"
                                        alt="аренда<%= post.title %><%= post.entertainments[index] || '' %>">
                                </picture>
                            </li>
                            <% }); %>
                        </ul>
                        <div class="gallery__modal galleryCmpModal">
                            <div class="cross"></div>
                            <div class="gallery__wrapper">
                                <div class="gallery__img galleryCmpImg"> <img
                                        loading="lazy" loading="lazy"
                                        src="../<%= post.mainImg %>"
                                        alt="galleryImg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-form">
                    <div class="modal-form__wrapper">
                        <div class="modal-form__form form">
                            <form action="/send-mail" method="POST"
                                name="arenda">
                                <div class="input-box"> <input
                                        class="form__name input-field"
                                        type="text" name="name" id="form__name"
                                        data-form-name placeholder="ФИО"></div>
                                <div class="input-box"> <input type="text"
                                        id="input-date"
                                        class="input-field form__date"
                                        name="date">
                                </div>
                                <div class="input-box input-box--last"> <input
                                        class="form__tel input-field" type="tel"
                                        name="phone" id="form__tel"
                                        data-form-tel
                                        placeholder="Введите номер телефона">
                                </div>
                                <div class="post__cost post-subtitle">
                                    <div class="post__price">Цена:</div>
                                    <div class="post__price">
                                        <%= post.cost %>
                                    </div>
                                </div> <button type='submit'
                                    class="form__button openButton arbtn">Отправить
                                    заявку</button>
                                <p class="post__text post-text "> Оставьте ваши
                                    контактные данные и выберите приблизительную
                                    дату начала аренды. Наши специалисты с вами
                                    свяжутся</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="post-body">
        <div class="post-body__container">
            <div class="post-body__grid">
                <div class="post-body__box">
                    <div class="post-body__address post-title">
                        <%= post.address %>
                    </div>
                    <div class="post-body__subtitle post-subtitle">
                        <%= post.subtitle %>
                    </div>
                    <div class="post-body__conveniences-box">
                        <% const advantagesIconArray = JSON.parse(post.advantagesIcon); %>
                        <% const advantagesDescriptionArray = JSON.parse(post.advantagesDescription); %>
                        <% for (let i = 0; i < advantagesIconArray.length; i++) { %>
                        <div class="post-body__conv-box conv-box">
                            <div class="conv-box__icon">
                                <img loading="lazy" loading="lazy"
                                    src="..<%= advantagesIconArray[i] %>"
                                    alt="<%= advantagesDescriptionArray[i] %>">
                            </div>
                            <div class="conv-box__description">
                                <%= advantagesDescriptionArray[i] %>
                            </div>
                        </div>























































































                        
                        <% } %>
                        <div class="post-body__conv-box conv-box">
                            <div class="conv-box__square"> Площадь: <span>
                                    <%= post.square %>
                                </span></div>
                        </div>
                    </div>
                </div>

                <div class="post-body__description">
                    <div class="post-body__description-title post-title">
                        Описание</div>
                    <div class="post-body__small-description post-subtitle">
                        <%= post.smallDescription %>
                    </div>
                    <div class="post-body__arrays-block">
                        <div class="post-body__conveniences">
                            <h3
                                class="post-body__conveniences-title post-title">
                                Оснащение</h3>
                            <ul>
                                <% post.conveniences.forEach((conv) => { %>
                                <li class="conveniences__item post-text">
                                    <%= conv %>
                                </li>
                                <% }); %>
                            </ul>

                        </div>
                        <div class="post-body__yardEntertainments">
                            <h3
                                class="post-body__yardEntertainments-title post-title">
                                На прилегающей территории</h3>
                            <ul>
                                <% post.yardEntertainments.forEach((yrd) => { %>
                                <li class="conveniences__item post-text">
                                    <%= yrd %>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post-body__additional-information">
                    <h3
                        class="post-body__additional-information-title post-title">
                        Дополнительная информация</h3>
                    <div
                        class="post-body__additional-information-description post-text">
                        <%= post.additionalInformation %>
                    </div>
                </div>
            </div>
            <div class="post-body__map">
                <h3 class="post-body__map-address post-title">
                    <%= post.address %>
                </h3>
                <div>
                    <iframe src='<%= post.mapScript %>'
                        height="400" width="500px"></iframe>
                </div>

            </div>
        </div>
    </section>
    <div class="decor">
        <div class="decor__img">
            <picture>
                <img loading="lazy" loading="lazy" src="../img/decor/decor.jpg"
                    alt="decor" />

        </div>
        <div class="decor__text">
            <h3 class="decor__title">Нам доверяют около 100 компаний команд и ИП
            </h3>
            <div class="decor__subtitle"> Мы очень ценим наших арендаторов И
                всегда рады сотрудничеству</div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__logoAndSubtitle"> <a class="footer__logo"><img
                        loading="lazy" loading="lazy"
                        src="../img/main/logo-tel.svg" alt="logo" /></a>
                <h4 class="footer__subtitle">Экспресс-подбор жилья по самым
                    низким ценам</h4>
            </div>
            <div class="footer__informAndCts">
                <div class="footer__inform">Работаем 10 лет</div>
                <div class="footer__ctc"> <a href="#"
                        class="footer__tel">Телефон: 8 (800) 500-56-55</a></div>
                <div class="footer__social social"> <a href="#"
                        class="footer__tg"><img loading="lazy" loading="lazy"
                            src="../img/main/telegram.svg" alt="tg" /></a> <a
                        href="#" class="footer__wa"><img loading="lazy"
                            loading="lazy" src="../img/main/whatsapp.svg"
                            alt="whatsapp" /></a>
                    <a href="#" class="footer__vb"><img loading="lazy"
                            loading="lazy" src="../img/main/viber.svg"
                            alt="whatsapp" /></a>
                </div>
            </div>
            <div class="footer__CR"> © 2023 RentVenueCenter</div>
        </div>
    </footer>
    <script src="/js/post.bundle.js"></script>
</body>

</html>